html, body {
background: #1e5799; /* Old browsers */

}

.snowflakes {
	width: 2560px; height: 1300px;
	position: absolute; top: -90px; left: 0;
}

i, i:after, i:before { background: white; }
i {
	display: inline-block;
	-webkit-animation: snowflakes 3s linear 2s 20;
	-moz-animation: snowflakes 3s linear 2s 20;
	position: relative;
}
i:after, i:before {
	height: 100%;
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(120deg);
}
i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		-webkit-transform: translate3d(15px, 1300px, 0px) rotate(360deg) scale(0.6);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}

/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}

::-webkit-scrollbar {
  width: 0px;
}




#pageheader{

}
#pageheadertxt{
  font-family: monospace;
  font-size: 60px;
  text-align: center;
}

.navbarbutton{
  font-family: monospace;
  font-size: 30px;
  color:white;
}

.font1{
  font-family: monospace;
}

.font2{
  font-family: cursive;
}

.fontsz1{
 font-size: 20px;
}

.fontsz2{
 font-size: 24px;
}

.dropdown-menu {
  background-color: transparent;
 }

.dropdowntext{
  color: white !important;
  font-family: monospace !important;
}



.dropdowntext:hover{
 background-color:rgba(255, 255, 255, 0.25) !important;
}

.color1{
  color:#BA1200;
}

.color2{
  color:#031927;
}

.color3{
  color:#9DD1F1;
}

.color4{
  color:#508AA8;
}

.color5{
  color:#C8E0F4;
}

.color6{
  color:white;
}

.imgimgimg2{
  width: 400px;
}

.color1background{
  backgrond-color:#BA1200;
}

.color2background{
  background-color:#031927;
}

.color3background{
  background-color:#9DD1F1;
}

.color4background{
  background-color:#508AA8;
}

.color5background{
  background-color:#C8E0F4;
}


span img:last-child {
  display: none;
}
span:hover img:last-child {
  display: block;
}
span:hover img:first-child {
  display: none;
}


.floatleft{
	float: left;
}
